.navbar {
  justify-content: space-between;
  background: white;
  height: $navbarHeight;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 1px 1px 1px lightgrey;

  .logo a {
    font-family: $logoFont;
    font-size: 20px;
    color: grey;

  }

  a {
    text-decoration: none;

  }

  img {
  height: 50px;
  }
}
